@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
	margin: 0;
	padding: 0;
	color: black;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

nav {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	background-color: aquamarine;
}

nav a {
	margin-right: 0.5em;
}

.full-screen {
	min-height: 100vh;
}

main {
	margin-top: 40px;
}

section {
	text-align: justify;
	width: 90%;
	margin: 0 auto;
}

section .title {
	width: fit-content;
	margin: 0 auto;
}

form {
	display: flex;
	flex-direction: column;
}

form label {
	margin-bottom: 0.5em;
}

#my-music div {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#about-me p {
	margin-bottom: 1em;
}
